.creator{
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.creator-con{
    height: 550px;
    box-shadow: 0 0 47px -12px;
    border-radius: 6px;
    width: 302px;
    padding: 24px;
    text-align: center;
}